.password-strength-meter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1px;
  }
  
  .strength-bar-container {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .strength-bar {
    flex: 1;
    height: 5px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: gray;
  }
  
  .strength-bar.filled {
    transition: background-color 0.2s;
  }
  
  .strength-label {
    font-size: 0.9rem;
    color: #666;
  }
  